@{
    ViewData["Title"] = "Punti Decurtati per Trasgressore";
}

<h2 class="textColor"> Punti Decurtati Raggruppati per Trasgressore</h2>

<table class="table">
    <thead>
        <tr>
            <th class="textColor">Trasgressore</th>
            <th class="textColor">Totale Punti Decurtati</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
            <tr>
                <td class="textColor">@group.TrasgressoreNome</td>
                <td class="textColor">@group.TotalePunti</td>
            </tr>
        }
    </tbody>
</table>
